
.grid {
    display: grid;
}

.flex {
    display: flex;
}

.column { 
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.main-layout {
    width: 90%;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}